<li class='microposts__item' id='micropost-item-<%= feed_item.id %>'>
  <div class='user-avatar-tn'>
    <%= link_to gravatar_for(feed_item.user, size: 75), feed_item.user %>
  </div>

  <div class='microposts__item--content-wrapper'>
    <h5 class='microposts__item--user'>
      <%= link_to feed_item.user.name, feed_item.user %>
    </h5>
    <div class='microposts__item--content'>
      <%= simple_format feed_item.content %>
    </div>
    <div class='microposts__item--meta'>
      <p class='microposts__item--timestamp'>
        <%= time_ago_in_words(feed_item.created_at) %> ago
      </p>

      <% if current_user? feed_item.user %>
        <p class='list__item--delete'>
          <%= link_to feed_item, method: :delete, data: { confirm: 'Delete this micropost?' } do %>
            <i class='icon-trash'></i>
            Delete
          <% end %>
        </p>
      <% end %>
    </div>
  </div>
</li>
