<li class='microposts__item' id='micropost-item-<%= feed_item.id %>'>
  <div class='user-avatar-tn'>
    <%= link_to gravatar_for(feed_item.user), feed_item.user %>
  </div>
  <p class='microposts__item--user'>
    <%= link_to feed_item.user.name, feed_item.user %>
  </p>
  <div class='microposts__item--content'>
    <%= simple_format feed_item.content %>
  </div>
  <p class='microposts__item--timestamp'>
    <%= time_ago_in_words(feed_item.created_at) %> ago
  </p>

  <% if current_user? feed_item.user %>
    <p class='list__item--delete'>
      <%= link_to 'delete', feed_item, method: :delete, data: { confirm: 'Delete this micropost?' } %>
    </p>
  <% end %>
</li>
